{%- macro skilltile(data) -%}
    <li class="skill-tile">
        <h3>{{data.title}}</h4>
        <ul>
            {%- for item in data.items -%}
                <li>{{item}}</li>
            {%- endfor -%}
        </ul>
    </li>
{%- endmacro -%}