body {
  margin: 0;
  padding: 0;
  font-family: $font-content;
  background: #f1f1f1;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-header;
    font-weight: 100;
  }
  p {
    font-size: 20px;
    line-height: 1.6;
  }
}
.intro {
  background: #f4f4f4;
  @include min-width(sm) {
    .content {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 25px;
      align-items: center;
    }
  }
  .profile-thumb {
    background-size: cover;
    background-position: 40% center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      height: 0;
    }
  }
}

.page-wrapper {
  margin: 0 auto;
}
section {
  h2 {
    text-align: center;
    margin: 25px auto;
  }
  .content {
    margin: 0 auto;
    max-width: 800px;
    padding: 25px 0;
    width: 94%;
  }
}

.job-listing {
  .col-right {
    margin: 0 0 50px;
  }
  @include min-width(sm) {
    display: flex;
    .col-left {
      flex-basis: 20%;
      text-align: right;
      margin-bottom: 50px;
    }
    .col-right {
      flex-basis: 80%;
      margin: 0 0 50px 25px;
    }
  }

  h3 {
    font-size: 20px;
    line-height: 1.6;
  }
  h3,
  p {
    margin: 0;
  }
  .job-location {
    font-size: 12px;
    padding: 0 0 12px;
  }
}
.timespan {
  font-size: 12px;
  padding: 0 0 12px;
}
.position {
  font-size: 12px;
}
.case-study-grid {
  display: grid;

  @include min-width(sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
@include min-width(md) {
  .case-study,
  .skill-tile {
    flex-basis: 33.3%;
  }
}
.case-study {
  h3 {
    margin: 0 0 25px;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    h3 {
      color: #333;
    }
    .thumb {
      filter: grayscale(100%);
    }
  }
}
.skills {
  background: #fff;
  ul {
    list-style: none;
    margin: 0 0 50px;
    padding: 0;
    &:last-child {
      margin-bottom: 25px;
    }
    ul {
      padding: 0 25px 0;
      list-style: disc;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  h3 {
    font-size: 20px;
  }
  p {
    display: flex;
    flex-wrap: wrap;
  }
  span {
    margin: 0 0.125em 0.25em 0.125em;
    padding: 0 0.25em;
    background: #ccc;
    flex-grow: 1;
    text-align: center;
  }
}
.case-studies {
  img {
    width: 100%;
    max-width: 100%;
  }
  .thumb {
    transition: all 0.3s ease-out;
  }
  .mobile {
    display: none;
  }

  .modal {
    transform: scale(0);
    transition: all 0.1s linear;
    display: flex;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    .close-button {
      position: absolute;
      top: 25px;
      right: 25px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 3em;
      border: 0;
      outline: 0;
      cursor: pointer;
      z-index: 3;
    }
    .swiper {
      //margin-top: 50px;
      transform: scale(0);
      transition: transform 0.1s 0.2s ease-out;
      max-width: 840px;
      .swiper-wrapper {
        position: relative;
      }
      .swiper-slide {
        background: #fff;
        border-radius: 5px;
      }
      .thumb {
        width: 50%;
        margin: 0 auto;
        img {
          outline: 2px solid black;
          outline-offset: -2px;
        }
      }
      .case-study-slide {
        padding: 100px 50px 25px;
      }
    }
  }
}
.jobs,
.education {
  background: white;
}
.education {
  text-align: center;
}
body.show-modal {
  //position: fixed;
  overflow-y: hidden;
  .modal {
    transform: scale(1);
    overflow-y: scroll;
    display: flex;
    align-items: start;
    opacity: 1;
    .swiper {
      transform: scale(1);
    }
  }
}
