body {
  font-family: $font-content;
  p {
    line-height: 1.8;
  }
}
.page-wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto 100px;
}

section {
  h2 {
    border-bottom: 1px solid black;
  }
}
nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
    }
  }
}
.job-listing {
  display: flex;
  .col-left {
    flex-basis: 20%;
    text-align: right;
  }
  .col-right {
    flex-basis: 80%;
    margin-left: 50px;
  }
}
.timespan {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.position {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}
.case-study-grid,
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@include min-width(md) {
  .case-study,
  .skill-tile {
    flex-basis: 30%;
  }
}

.skills {
  h3 {
    font-size: 14px;
    text-transform: uppercase;
  }
  p {
    display: flex;
    flex-wrap: wrap;
  }
  span {
    margin: 0 0.25em 0.5em 0;
    padding: 0 0.25em;
    background: #ccc;
  }
}
