.hidden-thumb {
  display: none;
}
header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,e2e2e2+100 */
  background: radial-gradient(
    ellipse at center,
    #ebf1f6 0%,
    #e2e2e2 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  font-family: $font-header;
  text-align: center;
  padding: 75px 0 0;
  h1 {
    margin: 0;
    color: #5b5959;
  }
  h2 {
    margin: 0 0 50px;
    color: #5b5959;
  }
  nav {
    background: #fff;
    //border-top: 1px solid black;
    // border-bottom: 1px solid black;

    div {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 50px;
    }
    a {
      text-decoration: none;
      color: #0f62fe;
      margin: 6px 12px;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }

    a.icon-github,
    a.icon-linkedin {
      width: 1em;
      height: 1em;
      overflow: hidden;
      display: inline-block;
      font-size: 1.5em;
      padding: 0;
    }
  }
}
