.hidden-thumb {
  display: none;
}
header {
  font-family: $font-header;
  text-align: center;
  h1,
  h2 {
    margin: 0;
  }
  nav {
    background: #ccc;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    div {
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: blue;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }

    a.icon-github,
    a.icon-linkedin {
      width: 1em;
      height: 1em;
      overflow: hidden;
      display: inline-block;
      font-size: 1.5em;
    }
  }
}
