{%- from "macros/list-menu/list-menu.njk" import listmenu -%}
<header>
    <div class="hidden-thumb"><img src="{{myjobdata.config.imgPath + myjobdata.meta.site_thumb}}" alt=""/></div>
    <h1>{{myjobdata.header.name}}</h1>
    <h2>{{myjobdata.header.site_title}}</h2>
    {{listmenu(myjobdata.header.nav,"main")}}
    {{listmenu(myjobdata.header.contact,"contact")}}
</header>