{%- macro casestudy(data) -%}
    <div class="case-study">
        <img src="/assets/images/{{data.thumbs[0]}}" alt=""/>
        <h3>{{data.title}}</h3>
        <p>
            <strong>Role:</strong>
            {{data.role}}</p>
        <p>
            <strong>Tech:</strong>
            {{data.tech}}</p>
        <details>
            <summary>Details</summary>
            <p>{{data.description}}</p>
        </details>
    </div>
{%- endmacro -%}