{%- macro listmenu(data,className) -%}
    <div class="{{className}}">
        {%- for item in data -%}
            <a href="{{item.url}}" class="{{item.class}}">{{item.text}}</a>
        {%- endfor -%}
    </div>
{%- endmacro -%}