---
permalink: /
eleventyComputed:
  title: "Alex Beuscher - Resume and Portfolio"
  description: "Alex Beuscher - Resume and Portfolio"
---
{% extends "layouts/inc/base.njk" %}
{%- from "macros/debugger/debugger.njk" import debugger -%}
{%- from "macros/job-listing/job-listing.njk" import joblisting -%}

{%- include "layouts/inc/header.njk" -%}
{% block content %}
  <section class="jobs">
    {%- for job in jobData -%}
      {{joblisting(job.fields)}}
    {%- endfor -%}
  </section>

  {{debugger(jobData)}}
  {{debugger(siteData)}}
{% endblock %}
{%- include "layouts/inc/footer.njk" -%}